<div class="row">
  <div class="col-md-2">
    <img *ngIf="product" src="{{ product.imageUrl }}" class="img-fluid" alt="Phone" />
  </div>
  <div
    class="col-md-2 text-center d-flex justify-content-center align-items-center"
  >
    <p *ngIf="product" class="text-muted mb-0">{{ product.productName }}</p>
  </div>

  <div
    class="col-md-2 text-center d-flex justify-content-center align-items-center"
  >
    <p *ngIf="product" class="text-muted mb-0 small">{{ product.price }} TDN</p>
  </div>
</div>
