<app-nav-bar></app-nav-bar>

<div class="signup__container">
  <div class="container__child signup__thumbnail">
    <div class="thumbnail__logo"></div>
    <div class="thumbnail__content text-center">
      <h1 class="heading--primary">Welcome to Shopium</h1>
      <h2 class="heading--secondary">Start shopping now</h2>
    </div>
    <div class="thumbnail__links"></div>
    <div class="signup__overlay"></div>
  </div>
  <div class="container__child signup__form">
    <form action="#" #inp="ngForm" (ngSubmit)="auth(inp)">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          class="form-control"
          #username="ngModel"
          ngModel
          name="email"
          placeholder="Email Address"
          required
          minlength="3"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          #password="ngModel"
          ngModel
          name="password"
          placeholder="Password"
          required
        />
      </div>

      <div class="m-t-lg">
        <ul class="list-inline">
          <li>
            <input class="btn btn--form" type="submit" value="Login" />
          </li>
          <li>
            <a class="signup__link" href="#">I am already a member</a>
          </li>
        </ul>
      </div>
    </form>
  </div>
</div>
